2nd Agent - Analyze Landing Page with OpenAI.json
{
  "name": "Analyze Landing Page with OpenAI",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Conversion Rate Optimizer",
        "formDescription": "Your Landing Page is Leaking Sales—Fix It Now",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Landing Page Url",
              "placeholder": "https://example.com",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "3e93aa48-42e8-4393-b493-9544529e5b6b",
      "name": "Landing Page Url",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -600,
        260
      ],
      "webhookId": "78c8855e-7c4a-4d61-b52a-9c18b75f6245"
    },
    {
      "parameters": {
        "url": "={{ $json['Landing Page Url'] }}",
        "options": {}
      },
      "id": "63a76db1-e470-4365-a04e-2e039e83e1d8",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// ~4 chars ≈ 1 token (rough proxy)\nconst MAX_TOKENS = 10000;\nconst CHARS_PER_TOKEN = 4;\nconst MAX_CHARS = MAX_TOKENS * CHARS_PER_TOKEN; // 48k chars\nlet t = $json.data || \"\";\nif (t.length > MAX_CHARS) t = t.slice(0, MAX_CHARS);\nreturn [{ pageText: t }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        260
      ],
      "id": "478cecfb-5872-482d-8409-d05664a7b993",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a world-class expert in Conversion Rate Optimization (CRO) who regularly advises founders, CMOs, and growth leaders on how to maximize the performance of their landing pages. \n\nYour role is not only to analyze but also to *communicate insights in a way that can be sent as a professional email*. You must combine sharp analysis, unconventional insight, and clear business communication. \n\n=======================\nOBJECTIVE\n=======================\n- Conduct a detailed audit (a “roast”) of the provided landing page.\n- Identify weaknesses that are hurting conversion rates.\n- Provide specific, actionable recommendations for improvement. \n- Deliver the entire output in the structure of an email that a consultant would send to a busy founder or CMO. \n\n=======================\nSTYLE & TONE\n=======================\n- Friendly yet professional, sharp yet casual.\n- Avoid academic or boring explanations. Be punchy and human.\n- The roast should agitate the reader slightly (provoke “oh wow, we missed that”), but in a constructive, supportive way.\n- Recommendations should feel like premium advice — practical, creative, and directly applicable.\n\n=======================\nROAST CRITERIA\n=======================\n- Explain clearly *what is broken* and *why it matters* for conversion.\n- Be unconventional and fun: avoid clichés, avoid generic textbook lines.\n- Agitate feelings (e.g., “Your headline is shouting, but not saying anything your customer cares about”).\n- Maximum 6–8 high-impact bullets. No long paragraphs.\n\n=======================\nRECOMMENDATION CRITERIA\n=======================\n- 8–10 specific, advanced CRO ideas tied directly to the roast issues.\n- Write exactly *how to fix it* (e.g., suggest improved headlines, new CTA text, repositioning of elements).\n- Be highly personalized to THIS page. No generic ideas like “add a chatbot” unless it is clearly relevant.\n- Prioritize unconventional tactics that the average marketer wouldn’t suggest.\n- Make sure ideas are impactful, easy to implement, and relevant to 2024–2025 digital marketing best practices.\n- Every recommendation must be linked back to a roast point.\n\n=======================\nOUTPUT STRUCTURE (MUST BE EMAIL-FRIENDLY)\n=======================\n1. **Subject line** — personalized and attention-grabbing (no more than 10 words).\n2. **Greeting + Short Intro** — address the recipient (e.g., “Hi [First Name],”) and set context in 2–3 sentences.\n3. **🔥 Roast Section** — bullet list of issues.\n4. **💡 Recommendations Section** — numbered bullet list of solutions (each 1–2 lines, with improved examples where applicable).\n5. **Closing CTA** — professional wrap-up with a clear next step (e.g., “Would you like me to prioritize these fixes for you?”).\n6. **Signature placeholder** — “[Your Name]”\n\n=======================\nOUTPUT RULES\n=======================\n- Total length: ≤ 900 words (target 600–800).\n- Each bullet ≤ 25 words.\n- Do not restate the entire landing page content.\n- No preambles, no disclaimers, no apologies.\n- Keep formatting clean and ready for email clients.\n\n=======================\nINPUT\n=======================\nHere is the landing page content you need to audit:\n{{ $json.pageText }}\n\n\n=======================\nOUTPUT - Output should be in a way that it should look like a proper well drafted mail. we should be able to send it using mail node\n=======================\nSubject: [Audit] Quick Wins to Boost Your Landing Page Conversions\n\nHi Sarah,\n\nI reviewed your landing page and spotted some critical issues that may be costing you signups. Here’s a quick breakdown:\n\n🔥 Roast (What’s Broken)\n- Headline is generic; it doesn’t differentiate your product from competitors. \n- CTA button color blends into the background, lowering click visibility. \n- Hero section image feels like stock photography, reducing trust. \n- Social proof is buried at the bottom, so most visitors won’t see it. \n- Too much text before the value proposition is revealed. \n\n💡 Recommendations (How to Fix)\n1. Rewrite headline: “Get Your First 100 Customers in 30 Days — Without Paid Ads.”\n2. Use a contrasting CTA color (bright green) that draws the eye above the fold.\n3. Replace hero image with a real customer photo or product screenshot.\n4. Move 2–3 strongest testimonials directly under the headline.\n5. Cut down hero text to one line and emphasize a bold benefit.\n6. Add a sub-headline addressing the pain point: “Stop wasting money on ads that don’t convert.”\n7. Include trust logos from clients/press near the fold.\n8. Add a secondary CTA (“See Plans & Pricing”) for bottom-of-funnel visitors. \n\nNext Steps:  \nWould you like me to expand these recommendations into a prioritized CRO action plan with estimated impact?\n\nBest,  \nProduct Space\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "562e969a-65b4-4330-a37a-9e076dff3acc",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        100,
        260
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "id": "cc831f89-efa2-411e-b7c9-a0a93adb428d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        0,
        500
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "hogFfJ4seG6SsGd2",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ayasht.we@gmail.com",
        "subject": "Quick Wins to Boost Your Landing Page Conversions",
        "emailType": "text",
        "message": "={{ typeof $json.output === 'string'\n  ? $json.output\n  : ($json.emailBody ? String($json.emailBody) : JSON.stringify($json.output ?? '', null, 2)) }}\"\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        260
      ],
      "id": "efb311fd-d32e-4d2d-b9e9-cd21739d6984",
      "name": "Send a message",
      "webhookId": "34114b1c-d09f-4c7d-9750-6dd1b57f7667",
      "credentials": {
        "gmailOAuth2": {
          "id": "c6V0yu5ggiYknyF8",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        180,
        580
      ],
      "id": "9adfb804-8a86-429a-b423-ea0190a70915",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        360,
        580
      ],
      "id": "432ffaac-0cba-40d4-9931-dfbcc1bf9b94",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "Code": [
      {
        "json": {
          "pageText": "<!DOCTYPE html><html lang=\"en\"><head><meta charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/><link rel=\"preload\" href=\"/_next/static/media/4e81fe9cba68eadc-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/52496166337c67b0-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/568e7e99c9d45959-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/5f4839c814e9ec59-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/70e6e73a98198642-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/7fbdcdbfc22e95c5-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/8acb5781ce311ba9-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/90b1a89cbb9b3d98-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" href=\"/_next/static/media/a72c99e5b28b2db6-s.p.woff\" as=\"font\" crossorigin=\"\" type=\"font/woff\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/story/p2.png\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/story/c2.png\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/ketan.svg\"/><link rel=\"preload\" as=\"image\" href=\"/_next/static/media/Rectangle.caa45bc4.svg\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/google-logo.png\"/><link rel=\"preload\" as=\"image\" href=\"https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/arun.svg\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/microsoft.svg\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/kanishk.jpeg\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/inmobi.svg\"/><link rel=\"stylesheet\" href=\"/_next/static/css/177a4736f8ae8893.css\" data-precedence=\"next\"/><link rel=\"stylesheet\" href=\"/_next/static/css/097f54ee91834abf.css\" data-precedence=\"next\"/><link rel=\"preload\" as=\"script\" fetchPriority=\"low\" href=\"/_next/static/chunks/webpack-81f392f3e5d522c3.js\"/><script src=\"/_next/static/chunks/4bd1b696-1ba055ffc40bd49d.js\" async=\"\"></script><script src=\"/_next/static/chunks/1684-73e9fab46ae7c422.js\" async=\"\"></script><script src=\"/_next/static/chunks/main-app-e4b300d916c71622.js\" async=\"\"></script><script src=\"/_next/static/chunks/8e1d74a4-69a9ae1076dbd7e2.js\" async=\"\"></script><script src=\"/_next/static/chunks/66ec4792-0267e8555a674017.js\" async=\"\"></script><script src=\"/_next/static/chunks/4277-d68c01814eb486b6.js\" async=\"\"></script><script src=\"/_next/static/chunks/4134-6f8a589314481f37.js\" async=\"\"></script><script src=\"/_next/static/chunks/3464-2fc7dbf6088e92be.js\" async=\"\"></script><script src=\"/_next/static/chunks/6874-cd40aabadfd7a1ce.js\" async=\"\"></script><script src=\"/_next/static/chunks/6766-f50e17c82e0598c6.js\" async=\"\"></script><script src=\"/_next/static/chunks/7590-ca567243485b9e81.js\" async=\"\"></script><script src=\"/_next/static/chunks/1941-9657571095fb65fb.js\" async=\"\"></script><script src=\"/_next/static/chunks/2345-f2a2d8f0191f5bc7.js\" async=\"\"></script><script src=\"/_next/static/chunks/4945-202519ac0de2810a.js\" async=\"\"></script><script src=\"/_next/static/chunks/6520-cca64ca5222c4455.js\" async=\"\"></script><script src=\"/_next/static/chunks/1565-6d5f97b10bfeeafb.js\" async=\"\"></script><script src=\"/_next/static/chunks/6671-693af70c2c46bc99.js\" async=\"\"></script><script src=\"/_next/static/chunks/5776-7288a6f9ef54637e.js\" async=\"\"></script><script src=\"/_next/static/chunks/6613-4ca37d0ac14b7e81.js\" async=\"\"></script><script src=\"/_next/static/chunks/4808-77b3d4538d470c40.js\" async=\"\"></script><script src=\"/_next/static/chunks/3419-fe922b4b86998482.js\" async=\"\"></script><script src=\"/_next/static/chunks/5174-25572c165559addd.js\" async=\"\"></script><script src=\"/_next/static/chunks/app/layout-9d5b60abe5b2b527.js\" async=\"\"></script><script src=\"/_next/static/chunks/app/not-found-a24b1fc7c7801c16.js\" async=\"\"></script><script src=\"/_next/static/chunks/eec3d76d-b0faa6d75d7a379c.js\" async=\"\"></script><script src=\"/_next/static/chunks/370b0802-7b2d4e8743f8cdee.js\" async=\"\"></script><script src=\"/_next/static/chunks/2572-65185b5ad52a21ca.js\" async=\"\"></script><script src=\"/_next/static/chunks/4169-c51d58f414117782.js\" async=\"\"></script><script src=\"/_next/static/chunks/app/page-ddf0d1227ba42983.js\" async=\"\"></script><link rel=\"preload\" href=\"https://www.googletagmanager.com/gtag/js?id=G-5MF7F8L6PB\" as=\"script\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/palash.svg\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/dream11.png\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/ashish.svg\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/winzo.png\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/priyansha.svg\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Mentor/walmart.png\"/><link rel=\"preload\" as=\"image\" href=\"https://tps-storage.s3.ap-south-1.amazonaws.com/prod/ps-meetup-2.jpeg\"/><link rel=\"preload\" as=\"image\" href=\"/_next/static/media/QrCard2.2bba89a7.png\"/><meta name=\"next-size-adjust\" content=\"\"/><title>🚀 Build Your Product Management Career | ProductSpace – Courses, Jobs, AI, Networking &amp; More</title><meta name=\"description\" content=\"Join India&#x27;s fastest-growing community for Product Managers. Explore top courses, exclusive jobs, AI workshops, and real Proof of Work to level up your PM career.\"/><meta name=\"keywords\" content=\"Product Management,Product Strategy,User Research,Go-to-Market,Feature Prioritization,Customer Feedback,Value Proposition,Cross-functional Teams,Market Analysis,Product Lifecycle,Business Requirements,Agile Product Development,MVP Development,Product Analytics,Design Thinking,Product Roadmap,OKRs,Proof of Work,AI in Product Management,AI Product Manager,Machine Learning,Data-Driven Decisions,Natural Language Processing,AI Ethics,Personalization,Predictive Analytics,Automation,AI Integration,Model Training,Conversational AI,ProductSpace,Digital Marketplace,PM Community India,Product Management Certification,Remote PM Jobs,PM Events 2025,Product Workshops,Product Career India\"/><meta name=\"robots\" content=\"index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large\"/><link rel=\"canonical\" href=\"https://theproductspace.in\"/><meta property=\"og:title\" content=\"ProductSpace – India&#x27;s Leading Product Management Community\"/><meta property=\"og:description\" content=\"Join India&#x27;s fastest-growing PM community. Learn product strategy, AI tools, get exclusive jobs, and real Proof of Work. Build your PM career with ProductSpace.\"/><meta property=\"og:url\" content=\"https://theproductspace.in\"/><meta property=\"og:site_name\" content=\"ProductSpace\"/><meta property=\"og:locale\" content=\"en_GB\"/><meta property=\"og:image\" content=\"https://tps-storage.s3.ap-south-1.amazonaws.com/blogs/product-space.png\"/><meta property=\"og:image:width\" content=\"1200\"/><meta property=\"og:image:height\" content=\"630\"/><meta property=\"og:image:alt\" content=\"ProductSpace – Product Management Career Platform\"/><meta property=\"og:type\" content=\"website\"/><meta name=\"twitter:card\" content=\"summary_large_image\"/><meta name=\"twitter:title\" content=\"Build Your Product Management Career with ProductSpace\"/><meta name=\"twitter:description\" content=\"Explore product courses, PM jobs, AI tools, events, and real-world Proof of Work to accelerate your product career. Join ProductSpace today!\"/><meta name=\"twitter:image\" content=\"https://tps-storage.s3.ap-south-1.amazonaws.com/blogs/product-space.png\"/><meta name=\"twitter:image:width\" content=\"1200\"/><meta name=\"twitter:image:height\" content=\"630\"/><meta name=\"twitter:image:alt\" content=\"ProductSpace – Product Management Career Platform\"/><link rel=\"icon\" href=\"/favicon.ico\" type=\"image/x-icon\" sizes=\"256x256\"/><script src=\"/_next/static/chunks/polyfills-42372ed130431b0a.js\" noModule=\"\"></script></head><body class=\"__className_ac116a antialiased\"><noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-XXXXXX\" height=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript><section aria-label=\"Notifications alt+T\" tabindex=\"-1\" aria-live=\"polite\" aria-relevant=\"additions text\" aria-atomic=\"false\"></section><section class=\"mb-16\"><nav class=\"{ w-full fixed top-0 z-50 transition-shadow duration-300 ease-in-out} bg-white\"><div class=\"max-w-7xl mx-auto px-4 sm:px-6 lg:px-8\"><div class=\"flex justify-between h-16 items-center\"><div class=\"flex-shrink-0 items-center hidden md:block\"><a class=\"font-bold text-xl sm:text-2xl md:text-[25px]\" href=\"/\">Product <span class=\"text-[#335DC8]\">Space</span></a></div><div class=\"flex-shrink-0 flex items-center md:hidden\"><a href=\"/\"><img alt=\"The Product Space Logo\" loading=\"lazy\" width=\"22\" height=\"21\" decoding=\"async\" data-nimg=\"1\" class=\"h-6 w-auto\" style=\"color:transparent\" src=\"/_next/static/media/ps-logo-dark.3d96a3d4.svg\"/></a></div><div class=\"hidden md:flex md:items-center gap-2\"><div class=\"relative dropdown-container\"><button class=\"flex items-center gap-1 text-sm font-medium hover:text-gray-900 hover:bg-gray-100 px-3 py-2 rounded-md\">Courses<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down w-4 h-4 transition-transform\"><path d=\"m6 9 6 6 6-6\"></path></svg></button></div><div class=\"relative dropdown-container\"><button class=\"flex items-center gap-1 text-sm font-medium hover:text-gray-900 hover:bg-gray-100 px-3 py-2 rounded-md\">Interview Prep<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down w-4 h-4 transition-transform\"><path d=\"m6 9 6 6 6-6\"></path></svg></button></div><a href=\"/skills-assessment/assessment\"><button class=\"text-sm font-medium px-3 py-2 rounded-md hover:bg-gray-100\">Assessment</button></a><a href=\"/events\"><button class=\"text-sm font-medium px-3 py-2 rounded-md hover:bg-gray-100\">Events</button></a><a href=\"/jobs\"><button class=\"text-sm font-medium px-3 py-2 rounded-md hover:bg-gray-100\">Jobs</button></a><div class=\"relative dropdown-container\"><button class=\"flex items-center gap-1 text-sm font-medium hover:text-gray-900 hover:bg-gray-100 px-3 py-2 rounded-md\">Resources<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down w-4 h-4 transition-transform\"><path d=\"m6 9 6 6 6-6\"></path></svg></button></div><button data-slot=\"button\" class=\"whitespace-nowrap transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*=&#x27;size-&#x27;])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-primary-foreground shadow-xs has-[&gt;svg]:px-3 flex items-center justify-center cursor-pointer gap-2 rounded-xl font-semibold bg-[#335DC8] hover:bg-[#244DB5] px-4 py-3 text-sm h-[40px] w-[128px]\">Login</button></div><div class=\"md:hidden flex items-center gap-2\"><button class=\"inline-flex items-center justify-center p-2 rounded-md text-gray-700 hover:text-gray-900 hover:bg-gray-100\" aria-label=\"Toggle menu\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-menu h-6 w-6\"><line x1=\"4\" x2=\"20\" y1=\"12\" y2=\"12\"></line><line x1=\"4\" x2=\"20\" y1=\"6\" y2=\"6\"></line><line x1=\"4\" x2=\"20\" y1=\"18\" y2=\"18\"></line></svg></button></div></div></div><div class=\"mobile-menu-container md:hidden hidden\"><div class=\"px-2 pt-2 pb-4 space-y-1 sm:px-3 bg-white shadow-lg w-full\"><div class=\"relative dropdown-container\"><button class=\"w-full text-left px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 flex justify-between items-center\">Courses<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down h-4 w-4 transition-transform\"><path d=\"m6 9 6 6 6-6\"></path></svg></button></div><div class=\"relative dropdown-container\"><button class=\"w-full text-left px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 flex justify-between items-center\">Interview Prep<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down h-4 w-4 transition-transform\"><path d=\"m6 9 6 6 6-6\"></path></svg></button></div><a class=\"block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50\" href=\"/skills-assessment/assessment\">Assessment</a><a class=\"block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50\" href=\"/events\">Events</a><a class=\"block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50\" href=\"/jobs\">Jobs</a><div class=\"relative dropdown-container\"><button class=\"w-full text-left px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 flex justify-between items-center\">Resources<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"lucide lucide-chevron-down h-4 w-4 transition-transform\"><path d=\"m6 9 6 6 6-6\"></path></svg></button></div><div class=\"w-full flex pt-2\"><div class=\"w-full flex justify-between\"><div></div><button data-slot=\"button\" class=\"whitespace-nowrap transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*=&#x27;size-&#x27;])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-primary-foreground shadow-xs has-[&gt;svg]:px-3 flex items-center justify-center cursor-pointer gap-2 rounded-xl font-semibold bg-[#335DC8] hover:bg-[#244DB5] px-4 py-3 text-sm h-[40px] w-[128px]\">Login</button></div></div></div></div></nav></section><!--$--><main><section class=\"max-w-7xl mx-auto px-8\"><div class=\"w-full  bg-white py-10 md:py-[76px] flex flex-col md:flex-row justify-between items-center gap-10 h-full\"><div class=\"w-full md:w-1/2 md:pr-[80px] flex flex-col justify-center gap-5 h-full\"><div class=\"flex flex-col gap-5\"><p class=\"text-sm  font-semibold text-[#BEBEBE] tracking-wide uppercase\">Welcome to Product Space</p><h1 class=\"text-3xl sm:text-4xl md:text-5xl font-extrabold text-black leading-tight\">Accelerate your <br/>Product Management Career</h1><p class=\"text-base sm:text-lg text-[#303030] leading-relaxed mt-2\">Master core Product Management Skills and AI workflows to stay relevant in the next wave of Product Careers.</p></div><div class=\"flex flex-col sm:flex-row w-full gap-4 mt-4\"><div class=\"w-full sm:w-[49%]\"><button data-slot=\"button\" class=\"whitespace-nowrap transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*=&#x27;size-&#x27;])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive text-primary-foreground shadow-xs has-[&gt;svg]:px-3 flex items-center justify-center cursor-pointer gap-2 rounded-xl font-semibold bg-[#335DC8] hover:bg-[#244DB5] px-6 py-4 text-lg h-[56px] w-full\">Explore the Courses</button></div><div class=\"w-full sm:w-[49%]\"><button data-slot=\"button\" class=\"whitespace-nowrap transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*=&#x27;size-&#x27;])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-background shadow-xs dark:bg-input/30 dark:border-input dark:hover:bg-input/50 has-[&gt;svg]:px-3 flex items-center justify-center gap-2 rounded-[12px] text-[#335DC8] hover:text-[#244DB5] hover:bg-[#EDEFFE] border-[#335DC8] hover:border-[#244DB5] border-[1.5px] px-6 py-4 text-lg font-semibold h-[56px] w-full\">Schedule 1:1 Call</button></div></div></div><div class=\"w-full md:w-1/2 h-full\"><div class=\"w-full mx-auto  sm:px-0\"><div class=\"relative rounded-lg overflow-hidden\"><div class=\"relative aspect-square w-full max-w-[500px] mx-auto\"><div class=\"absolute top-0 left-0 right-0 z-10 flex gap-1 p-3\"><div class=\"h-2 flex-1 bg-gray-300 rounded-full overflow-hidden\"><div class=\"bg-white h-[15px] transition-[width] duration-[50ms] ease-in-out\" style=\"width:0%\"></div></div><div class=\"h-2 flex-1 bg-gray-300 rounded-full overflow-hidden\"><div class=\"bg-white h-[15px] transition-[width] duration-[50ms] ease-in-out\" style=\"width:0%\"></div></div><div class=\"h-2 flex-1 bg-gray-300 rounded-full overflow-hidden\"><div class=\"bg-white h-[15px] transition-[width] duration-[50ms] ease-in-out\" style=\"width:0%\"></div></div></div><img src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/story/p2.png\" alt=\"Kriti Jain\" class=\"object-cover w-full h-full rounded-xl\"/><div class=\"absolute top-6 sm:top-9 left-3 sm:left-4 text-white text-base sm:text-xl font-extrabold border-l-4 border-white pl-2 sm:pl-3\">Kriti Jain</div><div class=\"absolute z-10 bottom-10 sm:bottom-14 left-3 sm:left-4 bg-white text-black text-[10px] sm:text-sm font-semibold px-2 sm:px-3 py-1 rounded-full shadow-sm\">Junior PM</div><div class=\"absolute bottom-4 right-3 sm:right-4 flex items-center gap-1 sm:gap-4\"><svg width=\"175\" height=\"16\" viewBox=\"0 0 175 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M121.394 8.59336L121.382 7.57595L121.382 7.57596L121.394 8.59336ZM174.228 8.71122C174.62 8.30938 174.613 7.66519 174.211 7.27239L167.663 0.871377C167.261 0.47858 166.617 0.485915 166.224 0.887763C165.831 1.28961 165.838 1.9338 166.24 2.32659L172.061 8.01638L166.371 13.8373C165.979 14.2391 165.986 14.8833 166.388 15.2761C166.79 15.6689 167.434 15.6615 167.827 15.2597L174.228 8.71122ZM0.5 9.9897L0.511751 11.0071L121.406 9.61077L121.394 8.59336L121.382 7.57596L0.488249 8.9723L0.5 9.9897ZM121.394 8.59336L121.405 9.61077L173.512 9.01741L173.5 8L173.488 6.98259L121.382 7.57595L121.394 8.59336Z\" fill=\"#EEEEEE\"></path></svg><div class=\"rounded-lg p-2 sm:p-4 w-[150px] sm:w-[220px] text-[#1C1F25] shadow-lg bg-white\"><div class=\"h-6 sm:h-8 w-6 sm:w-8 mb-1 sm:mb-2\"><img src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/story/c2.png\" alt=\"Creative Studios\" class=\"object-contain w-full h-full\"/></div><p class=\"font-bold text-xs sm:text-base\">Product Manager</p><p class=\"text-xs sm:text-sm\">PharmEasy</p></div></div></div></div></div></div></div></section><section class=\"bg-[#F8F8F8]\"><section class=\"max-w-7xl mx-auto py-16 px-8\"><h2 class=\"text-center text-2xl sm:text-3xl md:text-4xl font-[600] text-black mb-12\">What You’ll Get as a Product Space Learner</h2><div class=\"grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6\"><div class=\"bg-white rounded-2xl shadow-sm hover:shadow-md p-6 md:p-8 flex flex-col items-start\"><div class=\"bg-[#1064BC] text-white w-12 h-12 rounded-full flex items-center justify-center text-xl\"><svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M13 15C10.708 21 4.292 15 2 21M15.5 15H17.001C19.358 15 20.537 15 21.269 14.268C22.001 13.536 22.001 12.357 22.001 10V8C22.001 5.643 22.001 4.464 21.269 3.732C20.537 3 19.36 3 17.001 3H13.001C10.644 3 9.466 3 8.734 3.732C8.114 4.352 8.018 5.293 8.004 7\" stroke=\"white\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M7.5 15C8.88071 15 10 13.8807 10 12.5C10 11.1193 8.88071 10 7.5 10C6.11929 10 5 11.1193 5 12.5C5 13.8807 6.11929 15 7.5 15Z\" stroke=\"white\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M12 7H18M18 11H15\" stroke=\"white\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path></svg></div><h3 class=\"mt-6 text-xl md:text-2xl font-[500] text-black leading-snug\">Get 1:1 Mentorship<br/>from Senior PMs</h3><p class=\"mt-3 text-gray-600 text-sm\">Work closely with expert mentors who’ll guide your growth, give actionable feedback, and help you chart your PM career path.</p></div><div class=\"bg-white rounded-2xl shadow-sm hover:shadow-md p-6 md:p-8 flex flex-col items-start\"><div class=\"bg-[#1064BC] text-white w-12 h-12 rounded-full flex items-center justify-center text-xl\"><svg width=\"22\" height=\"16\" viewBox=\"0 0 22 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M10 8.85L9.1 9.725C8.91667 9.90833 8.6875 10 8.4125 10C8.1375 10 7.9 9.9 7.7 9.7C7.51667 9.51667 7.425 9.28333 7.425 9C7.425 8.71667 7.51667 8.48333 7.7 8.3L10.3 5.7C10.5 5.5 10.7333 5.4 11 5.4C11.2667 5.4 11.5 5.5 11.7 5.7L14.3 8.3C14.4833 8.48333 14.5792 8.7125 14.5875 8.9875C14.5958 9.2625 14.5 9.5 14.3 9.7C14.1167 9.88333 13.8875 9.97917 13.6125 9.9875C13.3375 9.99583 13.1 9.90833 12.9 9.725L12 8.85V14H17.5C18.2 14 18.7917 13.7583 19.275 13.275C19.7583 12.7917 20 12.2 20 11.5C20 10.8 19.7583 10.2083 19.275 9.725C18.7917 9.24167 18.2 9 17.5 9H16V7C16 5.61667 15.5125 4.4375 14.5375 3.4625C13.5625 2.4875 12.3833 2 11 2C9.61667 2 8.4375 2.4875 7.4625 3.4625C6.4875 4.4375 6 5.61667 6 7H5.5C4.53333 7 3.70833 7.34167 3.025 8.025C2.34167 8.70833 2 9.53333 2 10.5C2 11.4667 2.34167 12.2917 3.025 12.975C3.70833 13.6583 4.53333 14 5.5 14H7C7.28333 14 7.52083 14.0958 7.7125 14.2875C7.90417 14.4792 8 14.7167 8 15C8 15.2833 7.90417 15.5208 7.7125 15.7125C7.52083 15.9042 7.28333 16 7 16H5.5C3.98333 16 2.6875 15.475 1.6125 14.425C0.5375 13.375 0 12.0917 0 10.575C0 9.275 0.391667 8.11667 1.175 7.1C1.95833 6.08333 2.98333 5.43333 4.25 5.15C4.66667 3.61667 5.5 2.375 6.75 1.425C8 0.475 9.41667 0 11 0C12.95 0 14.6042 0.679167 15.9625 2.0375C17.3208 3.39583 18 5.05 18 7C19.15 7.13333 20.1042 7.62917 20.8625 8.4875C21.6208 9.34583 22 10.35 22 11.5C22 12.75 21.5625 13.8125 20.6875 14.6875C19.8125 15.5625 18.75 16 17.5 16H12C11.45 16 10.9792 15.8042 10.5875 15.4125C10.1958 15.0208 10 14.55 10 14V8.85Z\" fill=\"white\"></path></svg></div><h3 class=\"mt-6 text-xl md:text-2xl font-[500] text-black leading-snug\">Placement Support<br/>That Works</h3><p class=\"mt-3 text-gray-600 text-sm\">We don’t stop at learning. Get mock interviews, optimized resumes, referrals, and job prep till you land the right role.</p></div><div class=\"bg-white rounded-2xl shadow-sm hover:shadow-md p-6 md:p-8 flex flex-col items-start\"><div class=\"bg-[#1064BC] text-white w-12 h-12 rounded-full flex items-center justify-center text-xl\"><svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M12 2C9.43223 4.69615 8 8.27674 8 12C8 15.7233 9.43223 19.3038 12 22C14.5678 19.3038 16 15.7233 16 12C16 8.27674 14.5678 4.69615 12 2Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M2 12H22\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path></svg></div><h3 class=\"mt-6 text-xl md:text-2xl font-[500] text-black leading-snug\">Build Real Products,<br/> Not Just Portfolios</h3><p class=\"mt-3 text-gray-600 text-sm\">Go beyond theory. Launch zero-to-one projects that show how you think, prioritize, and ship like a Product Leader.</p></div><div class=\"bg-white rounded-2xl shadow-sm hover:shadow-md p-6 md:p-8 flex flex-col items-start\"><div class=\"bg-[#1064BC] text-white w-12 h-12 rounded-full flex items-center justify-center text-xl\"><svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M11.9998 5.00005C12.001 4.60008 11.9222 4.20391 11.768 3.83485C11.6139 3.46579 11.3874 3.13128 11.1021 2.851C10.8168 2.57072 10.4783 2.35032 10.1065 2.20278C9.73472 2.05524 9.33721 1.98353 8.93733 1.99186C8.53744 2.0002 8.14326 2.08841 7.77797 2.25132C7.41268 2.41422 7.08365 2.64853 6.81023 2.94045C6.53682 3.23238 6.32454 3.57604 6.18588 3.9512C6.04722 4.32637 5.98499 4.72548 6.00283 5.12505C5.41503 5.27619 4.86933 5.5591 4.40706 5.95236C3.94479 6.34562 3.57807 6.83892 3.33467 7.3949C3.09128 7.95087 2.97759 8.55494 3.00222 9.16136C3.02685 9.76778 3.18915 10.3606 3.47683 10.8951C2.97101 11.306 2.57326 11.8343 2.31817 12.434C2.06308 13.0337 1.95839 13.6866 2.01319 14.336C2.068 14.9854 2.28065 15.6116 2.63264 16.1601C2.98462 16.7085 3.46529 17.1627 4.03283 17.4831C3.96275 18.0253 4.00457 18.5761 4.15572 19.1016C4.30686 19.627 4.56413 20.1159 4.91161 20.538C5.2591 20.9601 5.68944 21.3065 6.17605 21.5558C6.66266 21.8051 7.19521 21.952 7.74081 21.9874C8.28641 22.0228 8.83347 21.946 9.34822 21.7617C9.86296 21.5774 10.3345 21.2895 10.7336 20.9158C11.1327 20.5421 11.451 20.0906 11.6688 19.5891C11.8866 19.0876 11.9992 18.5468 11.9998 18V5.00005Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M9 13C9.83956 12.7047 10.5727 12.167 11.1067 11.455C11.6407 10.743 11.9515 9.88867 12 9\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M6.00293 5.125C6.0227 5.60873 6.15926 6.0805 6.40093 6.5\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M3.47656 10.896C3.6595 10.747 3.85527 10.6145 4.06156 10.5\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M6.0002 17.9999C5.31103 18.0002 4.63347 17.8225 4.0332 17.4839\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M12 13H16\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M12 18H18C18.5304 18 19.0391 18.2107 19.4142 18.5858C19.7893 18.9609 20 19.4696 20 20V21\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M12 8H20\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M16 8V5C16 4.46957 16.2107 3.96086 16.5858 3.58579C16.9609 3.21071 17.4696 3 18 3\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M16 13.5C16.2761 13.5 16.5 13.2761 16.5 13C16.5 12.7239 16.2761 12.5 16 12.5C15.7239 12.5 15.5 12.7239 15.5 13C15.5 13.2761 15.7239 13.5 16 13.5Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M18 3.5C18.2761 3.5 18.5 3.27614 18.5 3C18.5 2.72386 18.2761 2.5 18 2.5C17.7239 2.5 17.5 2.72386 17.5 3C17.5 3.27614 17.7239 3.5 18 3.5Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M20 21.5C20.2761 21.5 20.5 21.2761 20.5 21C20.5 20.7239 20.2761 20.5 20 20.5C19.7239 20.5 19.5 20.7239 19.5 21C19.5 21.2761 19.7239 21.5 20 21.5Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path><path d=\"M20 8.5C20.2761 8.5 20.5 8.27614 20.5 8C20.5 7.72386 20.2761 7.5 20 7.5C19.7239 7.5 19.5 7.72386 19.5 8C19.5 8.27614 19.7239 8.5 20 8.5Z\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path></svg></div><h3 class=\"mt-6 text-xl md:text-2xl font-[500] text-black leading-snug\">Master the AI<br/>Stack for PMs</h3><p class=\"mt-3 text-gray-600 text-sm\">From discovery to delivery — learn and apply AI tools to drive product innovation and decision-making.</p></div></div></section><section class=\"bg-[#F8F8F8] flex flex-col gap-11 py-8 sm:py-6\"><h2 class=\"text-center text-2xl sm:text-3xl md:text-4xl font-[600] text-black\">Learners Across 550+ Product Companies in India</h2><div class=\"w-full flex flex-col gap-6\"><div class=\"relative h-[140px] overflow-hidden\"><div class=\"flex items-center h-full gap-2 overflow-x-hidden whitespace-nowrap\"><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"cars24\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a1.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"IndMoney\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a2.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Amazon\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a3.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Jio\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a4.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"IndiaMart\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a5.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Hero\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a6.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Mastercard\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a7.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Mahindra Logistics\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a8.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Cred\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a9.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Tata Steel\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a10.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"cars24\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a1.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"IndMoney\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a2.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Amazon\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a3.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Jio\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a4.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"IndiaMart\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a5.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Hero\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a6.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"flex flex-col items-center justify-center w-full h-full\"><div class=\"relative w-20 h-20 mb-1\"><img alt=\"Mastercard\" loading=\"lazy\" decoding=\"async\" data-nimg=\"fill\" class=\"rounded-md object-contain\" style=\"position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent\" src=\"https://tps-storage.s3.ap-south-1.amazonaws.com/live/Home/Companies logo/a7.png\"/></div></div></div><div class=\"inline-flex flex-shrink-0 border border-gray-100 rounded-xl items-center justify-center bg-white shadow-sm hover:shadow-md transition-shadow duration-300 w-[110px] h-[110px] mx-2\"><div class=\"f"
        }
      }
    ]
  },
  "connections": {
    "Landing Page Url": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fcf15ae-170c-4a08-8bdc-54f15db46070",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c834a9579367041be18612d09e6a972de2107501ab6fadb2ba4995f50a812801"
  },
  "id": "B9NZK0xjiZxOcCXQ",
  "tags": []
}